<Title:>
  {_info.title}

<Header:>
  <link type="text/css" href="/css/bootstrap.css" rel=stylesheet />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<import: src=templates>

<Body:>
  <div class=container-fluid id=main>
    <div class=row-fluid>
      <div class=span2>
        <app:templates:leftColumn>
      </div>
      <div class=span10>
        Welcome.
      </div>
    </div>
  </div>

<Scripts:>
  <script type=text/javascript src=/js/jquery.js></script>
  <script type=text/javascript src=/js/scripts.js></script>
  <script type=text/javascript>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31900933-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>