<Title:>
  {_info.title}

<import: src=templates>

<Head:>
  <meta name=description content="Phish Videos sorted by year, show, and setlist. Simple." />
  {{#if _info.stTitle}}
    <meta property='st:title' content="{{_info.stTitle}}" />
  {{/if}}
  {{#if _info.song.songname}}
    <meta id='stsectionshow' property='st:section' content="{{_info.month}}/{{_info.day}}/{{_info.year}} {{_info.venue}}" />
  {{else if _info.venue}}
    <meta id='stsectionvenue' property='st:section' content="{{_info.venue}}" />
  {{/if}}

<Body:>
  <ui:connectionAlert>
  <div class=container-fluid id=main>
    <app:templates:header>
    <div class=main-container>
      <div class=row-fluid>
        {#if _validateVideos}
          <app:templates:validate>
        {else if _info.tiph}
          <app:templates:tiph>
        {else if _info.about}
          <app:templates:about>
        {else}
          <app:templates:yearList>
          <app:templates:year>
          <app:templates:show>
          <app:templates:song>
        {/}
      </div>
    </div>
  </div>
  <!-- swiftype hack -->
  <script></script>

<Scripts:>
  <script type=text/javascript src=/js/jquery.js></script>
  <script type=text/javascript src=/js/jquery.swiftype.autocomplete.js></script>
  <script type=text/javascript src=/js/scripts.js></script>
  <script type=text/javascript>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34917555-1']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type=text/javascript src=//swiftype.com/embed.js></script>

<Tail:>
  <noscript>
    Please enable javascript for a significantly better user experience.
  </noscript>