<header:>
  <header>
    <ul class=left>
      <li class=home-container>
        <a class=home href="/">PhishVids</a>
      </li>
      <li class=search-container>
        <form onsubmit='return false;'>
          <input type="text" id="st-search-input" class="st-search-input" value={_searchInput} autocomplete=off />
        </form>
      </li>
    </ul>
    <ul class=right>
      <li class="{#if _about}active{/if}">
        <a class="{#if _about}active{/if}" href="/about">ABOUT</a>
      </li>
      <li class="{#if _tiph}active{/if}">
        <a class="{#if _tiph}active{/if}" href="/tiph">TIPH</a>
      </li>
      <li class=add-container>
        <a href="#" x-bind=click:addClick>ADD</a>
        <div class=add-form-container>
          <form x-bind=submit:add id=addVideo>
            <textarea name=video rows=10 placeholder="http://www.youtube.com/watch?v=...                                                http://www.youtube.com/watch?v=...                                                http://www.youtube.com/watch?v=...                                                http://www.youtube.com/watch?v=...">{_newVideo}</textarea><br />
            <button class=btn type=submit>Bag It!</button>
            <button class=btn type=submit>Tag It!</button>
          </form>
        </div>
      </li>
    </ul>
    <div class=clear-float></div>
  </header>

<yearList:>
  <div class=span3>
    <div id="year-list-container">
      <div class=ul-header>Choose a Year</div>
      <ul>
        {#each _years as :year}
          <li><a class="year blue {:year} {equal(:year,_year)}" href=/{:year}>{:year}</a></li>
        {/each}
      </ul>
    </div>
  </div>

<year:>
  {#if _year}
    <div class=span3>
      <div id="year-container">
        <div class=ul-header>{_year}</div>
        <ul>
        {#if _shows.message}
          <li class="{_shows.class}">{_shows.message}</li>
          {#if _shows.error}
            <li>Please Refresh or try again later</li>
            <li>If issue persists, <a href="mailto:help@phishvids.com" class=clear>email us</a>.</li>
          {/if}
        {else}
          {#each _shows as :show}
            <li>
              <a class="show{#if :show.hasVideos} blue{/if} {equal(addZero(:show.month),_month)}{equal(addZero(:show.day),_day)}" href="/{_year}/{addZero(:show.month)}/{addZero(:show.day)}">
                <span class=date>{:show.month}/{addZero(:show.day)}</span>
                &nbsp;
                <span class=venue>{:show.venue}</span>
              </a>
            </li>
          {/each}
          <li>
            <a href="http://phish.net/setlists/{_year}.html" target="_blank">Open on Phish.net</a>
          </li>
        {/if}
        </ul>
      </div>
    </div>
  {/if}

<show:>
  {#if _day}
    {#with _show as :show}
      <div class="span3 span-show" style="height:{#if _isServer}40{else}100{/if}%">
        <div class=show-container>
          <div class=ul-header>{_month}/{_day}</div>
          <ul>
            {#if :show.setlist.error}
              <li class={setlist.class}>{:show.setlist.error}</li>
            {else}
              {#with :show.setlist.0 as :set}
                <app:set>
              {/with}
              <li>
                <a href="http://phish.net/setlists/?d={_year}-{_month}-{_day}" target=_blank>Open on Phish.net</a>
              </li>
            {/if}
          </ul>
        </div>
      </div>
      <div class="span3 span-show" style="{#if _isServer}height:40%;{/if}">
        <div class=show-container>
          <div class=ul-header>{#if _venue}{_venue}{else}&nbsp;{/if}</div>
          <ul>
            {#if :show.setlist.error}
              <li class={setlist.class}>{:show.setlist.error}</li>
            {else}
              {#each :show.setlist.1 as :set}
                <app:set>
              {/each}
              {#if :show.footnotes}
                <li>Setlist Notes</li>
                <li class=footnotes>
                  <p>
                    {unescaped :show.footnotes}
                  </p>
                </li>
              {/if}
            {/if}
          </ul>
        </div>
      </div>
    {/with}
  {/if}

<set:>
  <li class=set-title>Set {:set.key}</li>
  {#each :set.value as :song}
    {#if :song.title}
      <li>
        <a class="song {:song.blue} {equal(:song.number,_number)}" href="/{_year}/{_month}/{_day}/{:song.number}">
          {:song.title}{#if :song.sup}<sup>{:song.sup}</sup>{/if} <span class=segue>{:song.segue}</span>
        </a>
      </li>
    {/if}
  {/each}

<song:>
  {#if _number}
    {#with _song as :song}
      <div class=span6>
        <div id="song-container">
          {#if :song.error}
            <h2 class="song {:song.class}">{:song.error}</h2>
          {else if :song.videos}
            <h2 class=song>{:song.videos.0.name}</h2>
            <div class=player>
              <iframe id="ytplayer" type="text/html" width="420" height="256"
      src="http://www.youtube.com/embed/{parseYouTubeURL(:song.videos.0.video)}?autoplay=0&origin=http://phishvids.com&html5=1"
      frameborder="0"></iframe>
            </div>
            <ul>
              {#each :song.videos as :video}
                <app:video>
              {/each}
              {#each :song.audioVideos as :video}
                <app:video>
              {/each}
            </ul>
          {else}
            <h2 class=song>No videos for this song</h2>
          {/if}
        </div>
      </div>
    {/with}
  {/if}

<video:>
  <li>
    <a href={:video.video} class="video-link blue" target=_blank>
      <img src="http://i.ytimg.com/vi/{parseYouTubeURL(:video.video)}/0.jpg" />
      <br/>
      {:video.user}
    </a>
  </li>

<validate:>
  <div class=validate>
    {#each _validateVideos.data as :video}
      <div class=validate-video>
        <h3>{:video.title}</h3>
         <div class="setlist-approval-container left">
          <iframe id="ytplayer" type="text/html" width="420" height="256"
    src="http://www.youtube.com/embed/{:video.id}?autoplay=0&origin=http://phishvids.com&html5=1"
    frameborder="0"></iframe>
          <select name="new-video-setlist" class=multiple multiple=multiple size=11>
            {#each :video.net.setlist as :set}
              <option value="Set {:set.key}" disabled=disabled>Set {:set.key}</option>
              {#each :set.value as :song}
                {#if :song.title}
                  <option value="{:song.number}" selected={:song.selected}>{:song.title} {:song.segue}</option>
                {/if}
              {/each}
            {/each}
          </select>
          <div class=clear-float></div>
          <p class=small>
            Cmd+Click (Mac) or Ctl+Click (Windows or Linux) to select multiple songs
          </p>
        </div>
        <div class="validate-confirm left">
          <p>
            Correct?
          </p>
          <button class="validate-yes-button btn" x-bind=click:confirm i={:video.i}>Yes</button><br />
          <button class="validate-no-button btn" x-bind=click:reject i={:video.i}>No</button>
        </div>
        <div class=clear-float></div>
        <div class=date-approval-container>
          <select name=month i={:video.i} x-bind=change:update>
            {#each _validateVideos.months as :month}
              <option value="{:month}" selected="{equal(:month, :video.showDate.month)}">{:month}</option>
            {/each}
          </select> /
          <select name=day i={:video.i} x-bind=change:update>
            {#each _validateVideos.days as :day}
              <option value="{:day}" selected="{equal(:day, :video.showDate.day)}">{:day}</option>
            {/each}
          </select> /
          <select name=year class=year i={:video.i} x-bind=change:update>
            {#each _validateVideos.years as :year}
              <option value="{:year}" selected="{equal(:year, :video.showDate.year)}">{:year}</option>
            {/each}
          </select>
            &nbsp;&nbsp;&nbsp;&nbsp;
            {#if :video.net.venue}
              {:video.net.city}, {:video.net.state} {:video.net.country} {:video.net.venue}
            {else}
              <span class=small>Sorry, we can't find a show on this date. If you believe this to be an error, please email us at <a href=mailto:help@phishvids.com>help@phishvids.com</a>.</span>
            {/if}
        </div>
      </div>
    {/each}
  </div>

<tiph:>
  <div class=page>
    <div id="tiph-container">
      <h2>Today In Phish History</h2>
        {#if _tiph.err}
          <br>
          <h3 class=err>{_tiph.message}</h3>
        {else}
          {#each _tiph as :video}
            <div class=tiph>
              <a x-bind=click:expand>
                {:video.name}
              </a>
              <div class=info>
                <a href=/{:video.year}/{addZero(:video.month)}/{addZero(:video.day)}/{addZero(:video.number)}><i class=icon-share-alt></i></a> <a href=http://youtube.com/user/{:video.user}>{:video.user}</a> - {secsToTime(:video.seconds)} - {numberWithCommas(:video.viewcount)} views &#183; <a href=/{:video.year}/{addZero(:video.month)}/{addZero(:video.day)}>{:video.month}/{:video.day}/{:video.year}</a>
              </div>
              {#if :video.view}
                <br>
                <iframe id="ytplayer" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/{parseYouTubeURL(:video.video)}?autoplay=0&origin=http://phishvids.com&html5=1"frameborder="0"></iframe>
              {/if}
            </div>
          {/each}
        {/if}
    </div>
  </div>

<about:>
 <div class=page>
   <div id=about-container>
      <h2>About</h2>
      <h3>What is this?</h3>
      <p>
        Well, first you might have to ask yourself, "<a href=http://en.wikipedia.org/wiki/Phish>what is a Phish</a>?"
        <br>
        Select a year, show, and song to see video from a show. Any link in blue has video, any in black does not.
        <br>
        To add a video, click <i>Add</i> in the header. Paste in your link below and then <i>Tag It</i>.
        <br>
        This website would not function without it's users. If you see an incorrect video, please click <i>report</i>.
      </p>
      <br>
      <h3>Phanners</h3>
      <p>
        Welcome to my little corner of the internet. It's nice to see you again.
      </p>
      <p>
        This website came about after my attendance of the 2010 NYE run at Madison Square Garden. I wanted to watch video from the run, but it was quite hard to traverse YouTube for good videos.
      </p>
      <p>
        So, I set out to build a website to accomplish just that. Nearly two years later, here we are sitting on pV 2.0.
      </p>
      <p>
        Thanks to people like mkdevo, silverchair, harpuafsb, telekinetica, lazylightning, duanebase, and plenty of others without whom this website would not be possible. It's a collective effort between the community of Phish. That is, the fans.
      </p>
      <p>
        I'd also like to say thank you to Parker Harrington, Ben Reinhart, Scotty Bernstein, Adam Scheinberg, Scott Marks, Nate Douglas, and everyone else who's a contributing member of the Phish network. It's one of the oldest band-related fan groups within the internet. The collective is nothing short of magical, all fueled by four dudes and a light guy's creative spirit.
      </p>
      <br>
      <p>
        If you have any comments, suggestions, or problems with the website, feel free to email me at <a href=mailto:d@phishvids.com>d@phishvids.com</a>. Just like Phish, we try to push the limits technically, even when we don't have to. We're using a very young framework, which will lead to bugs and even a subpar user experience at times. Please let me know if you have any issues so we can fix them for future users.
      </p>
      <p>
        Thank you.
        <br />
        Daniel Saewitz
      </p>
      <br>
      <h3>Hackers</h3>
      <p>
        This site was built with <a href=http://derbyjs.com>Derby</a>, a modern framework written in <a href=http://nodejs.org>node</a>, and <a href=http://coffeescript.org>Coffeescript</a>. You can check out most of the <a href=http://github.com/switz/phishvids>the source code</a> on <a href=http://github.com>Github</a>. The database is a <a href=http://mongodb.org>mongoDB</a> store, but I plan to switch to <a href=http://redis.io>redis</a> soon. If you have any comments, suggestions, or survivorship bias I'd love to hear from you. Please shoot me an email at <a href=mailto:hi@saewitz.com>hi@saewitz.com</a> or message switz on freenode. I'm currently looking for part-time work.
      </p>
      <br>
      <h3>Cars, Trucks, and Buses</h3>
      <p>
        The setlist data is courtesy of <a href=http://phish.net>Phish.net</a> and <a href=http://mbird.org>The Mockingbird Foundation</a>.
      </p>
    </div>
  </div>
